.XCenter {
  // display:  !important;
  justify-content: center;
}

.YCenter {
  // display:  !important;
  align-items: center;
}

.Center {
  // display:  !important;
  justify-content: center;
  align-items: center;
}

.Between {
  // display:  !important;
  justify-content: space-between;
}

.Around {
  // display: flex !important;
  justify-content: space-around;
}

.flex {
  display: flex;
  // justify-content: space-around;
}

.iflex {
  display: flex !important;
  // justify-content: space-around;
}

.flexWrap {
  display: flex;
  flex-wrap: wrap;
}

.flexYCenter {
  display: flex;
  align-items: center;
}
